body {
	font-family: $font-family-main;
	font-size: $font-size-main;
	font-weight: $font-weight-main;
	color: $color-main;
	min-width: 1140px;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.link {
	color: $color-main;

	&:hover {
			color: $color-hover;
		}
}

.hidden {
	display: none;
}