@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'fontawesome';
    src: url('../fonts/fontawesome-webfont.woff') format('woff');
    font-weight: 400;
}
