$font-family-main: 'Josefin Sans', sans-serif;
$font-size-main: 16px;
$font-weight-main: 300;

$color-main: #ffffff;
$color-hover: #f0ff00;

$color-two: #5474fd;

$btn-color-hover: #0635fc;

$font-size-h2: 36px;