$font-family-main: 'Josefin Sans', arial, sans-serif;
$font-family-two: Aleo, Times, serif;

$font-size-main: 16px;
$font-weight-regular: 400;
$font-weight-bold: 700;

$bg-color: #333333;

$color-main: #ffffff;
$color-hover: #f0ff00;
$color-grey: #999999;

$color-blue: #5474fd;

$btn-color-hover: #0635fc;

$font-size-h2: 36px;