.country {
	padding: 233px 0 102px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.country__one {
	background-image: url(../img/country1-bg.jpg);
}

.country__two {
	
	background-image: url(../img/country2-bg.jpg);
}

.country__block-text {
	box-sizing: border-box;
	padding: 49px 20px;
	background-color: rgba(35, 35, 35, 0.9);
}

.country__name {
	display: block;
	margin-bottom: 27px;
	font-size: 20px;
	font-weight: $font-weight-main;
}

.country__heading {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: $font-weight-main;
	text-transform: uppercase;
}

.country__p {
	margin-bottom: 40px;
	line-height: 1.6;

}