.footer {
	padding-top: 122px;
	padding-bottom: 50px;
	background-color: #232323;
}

.footer__block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__heading {
	display: block;
	margin-bottom: 9px;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 0.14em;
	text-transform: uppercase;
}

.footer__p {
	margin-bottom: 25px;
	letter-spacing: 0.1em;
}

.social-list {
	display: flex;
	justify-content: space-between;;
	width: 165px;
}

.social-list__link {
	target: _blank;
	font-family: FontAwesome;
	color: $color-main;
	&:hover {
		color: $color-two;
	}
}

.social-list__link--fb {
	&:before {
	content: '\f09a';
	}
}

.social-list__link--tw {
	&:before {
	content: '\f099';
	}
}

.social-list__link--in {
	&:before {
	content: '\f0e1';
	}
}

.social-list__link--yb {
	&:before {
	content: '\f16a';
	}
}

.social-list__link--pin {
	&:before {
	content: '\f0d2';
	}
}