.link-btn {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 225px;
	height: 60px;
	background-image: linear-gradient(45deg, #496bfe 0%, #496bfe 39%, #5474fd 40%, #5474fd 100%);
	font-family: Aleo;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	color: $color-main;

		&:hover {
			background-image: linear-gradient(45deg, #5474fd 0%, #5474fd 39%, #496bfe 40%, #496bfe 100%);
			color: $color-hover;
		}
}

.link-btn__book {
	margin: 0 0  0 3px;
}