.link-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 225px;
	height: 60px;
	background-color: $color-two;
	font-family: Aleo;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	color: $color-main;

		&:hover {
			background-color: $btn-color-hover;
			color: $color-hover;
		}
}

