.main-header {
	background-image: url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.search {
	display: flex;
	align-items: center;
	text-align: center;
}

.main-heading {
	margin: 265px 0 3px;
	font-size: 48px;
	font-weight: $font-weight-main;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.main-heading-text {
	margin-bottom: 47px;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 0.3em;
}

.form-serch {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 650px;
	height: 60px;
	margin: 0 auto 122px;
	background-color: #ffffff;
	font-size: 0;
}

.form-serch__text {
	box-sizing: border-box;
	width: 498px;
	height: 56px;
	border: none;
	font-size: 14px;
	line-height: 1.2;
	text-align: center;
	color: #999999;

		&::placeholder {		
			font-size: 14px;
			line-height: 1.2;
		}
}

.form-serch__btn {
	box-sizing: border-box;
	width: 148px;
	height: 56px;
	border: none;
	background-color: $color-two;
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-size: 15%;
	background-position: 90% center;
	font-family: Aleo;
	font-weight: 400;
	letter-spacing: 0.1em;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;

		&:hover {
			background-color: $btn-color-hover;
		}
}

.scroll {
	position: relative;
	display: block;
	margin-bottom: 155px;
	font-size: 14px;
	letter-spacing: 0.2em;

	&:after {
		content: '\f107';
		position: absolute;
		left: 50%;
		top: 20px;
		margin-left: -9px;
		display: block;
		font-family: FontAwesome;
		font-size: 16px;
	}

		&:hover {
			color: $color-hover;
		}
}

.section-nav {
	box-sizing: border-box;
	background-color: $color-two;
	text-transform: uppercase;
}

.navigation {
	display: flex;
	padding: 27px 0;
}

.logo {
	margin-left: -11px;
	font-size: 24px;
	letter-spacing: 0.1em;
}

.main-nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0 0 13px;
	font-family: Aleo;
	font-size: 14px;
}
