.slogan {
	font-family: $font-family-main;
	font-size: 22px;
	font-weight: $font-weight-regular;
	line-height: 1.18;
	letter-spacing: 0.22em;	
}

.slogan--header {
	margin-bottom: 45px;
}

.slogan--footer {
	margin-bottom: 22px;
	font-size: 16px;
	line-height: 1.625;
	letter-spacing: 0.04em;	
}