.tourist-say {
	padding: 115px 0 203px;
	background-image: url(../img/tourist-say-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.tourist-say__row {
	display: flex;
	justify-content: center;
}

.tourist-say__heading {
	margin-bottom: 94px;
	font-family: Aleo;
	font-size: $font-size-h2;
	font-weight: $font-weight-main;
}

.sam-sumon__column {
	display: flex;
	background-color: #333333;
}

.sam-sumon__img {
	width: 540px;
	font-size: 0;
}

.sam-sumon__text {
	width: 665px;
	padding: 50px 54px 0 60px;
}

.sam-sumon__heading {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: $font-weight-main;
	text-transform: uppercase;
}

.blockquote {
	display: block;
	margin: 0;
	font-size: 16px;
	line-height: 1.625;
	text-indent: 25px;
}

.quote{
	&::before {
	content: "\f10d";
	font-family: FontAwesome;
	color: $color-two;
	}
}